src/main/resources/MatchPoints.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Game">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Player" type="xs:string"/>
                <xs:element name="Points" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>